.container-emp{
    width:100%
}
.box-emp{
    max-width: 350px;
    padding:10px;
    border:3px solid $second-color;
    margin:10px auto;
}
.img-p{
    max-width:300px;
    height:300px;
    display:block;
    object-fit:cover;
    padding:5px;
}

.heading-emp , .text-emp{
  
    width: 100%;
    padding:0 5px;
    min-width: 300px;

    p{
        margin:10px 0;
    }
    a{
        display:inline-block;
        background:$first-color;
        color:white;
        text-decoration:none;
        padding:10px 20px;
    }
}











    

