.hero {
   
    height: 70vh;
    background: url('/images/p_slider-01.jpeg') no-repeat bottom center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 10 20vw;
    margin: top 15px;
    color: black;

    
    h1 {
       font-family:$font-2;
       font-size:1rem;
       text-transform: uppercase; 
       text-align: center;
       color:black;
       
    
       &::before, &::after {
        content: '';
        position: absolute;
       
        height: 80%;
        width: 50%;
    }
    
        }
    }