      .box-plan{
         display:flex;
         align-items:center;
         justify-content:center;  
         margin-top: 30px;
         margin-bottom:40px;
       
         #plan{
           max-height:300px;
           max-width:250px;
           -moz-box-shadow:0 0 10px #777777;
            -webkit-box-shadow: 0 0 10px #777777;
            box-shadow: 0 0 10px #777777;
         }
      }